/* holder вокруг EditorJS */
/* #my-editor .codex-editor {
  font-family: inherit;
}*/

/* ширина контента (по умолчанию EditorJS ограничивает) */
#my-editor .ce-block__content,
#my-editor .ce-toolbar__content {
  max-width: 100%;
} 

/* абзацы */
.ce-paragraph {
  font-size: 14px;
  line-height: 16px!important;
  color: #eaeaea;
  padding: 0;
}



/* выделение */
#my-editor ::selection {
  background: rgba(255, 255, 255, 0.25);
}


/* Bottom-sheet для меню (+) */
.ce-popover {
  position: fixed !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  top: auto !important;

  width: 100% !important;
  max-width: none !important;

  margin: 0 !important;
  transform: none !important;

  border-radius: 16px 16px 0 0 !important;
  z-index: 10000 !important;
}

/* чтобы список прокручивался и не залезал на home-indicator
.ce-popover__container {
  max-height: 45vh;
  overflow: auto;
  padding-bottom: env(safe-area-inset-bottom);
} */

/* сам контейнер Mantine порталов поднимем повыше */
[data-mantine-shared-portal-node="true"] {
  position: relative;
  z-index: 2147483647;
}

/* popover как bottom-sheet */
.ej-bottom-sheet {
  position: fixed !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  top: auto !important;

  width: 100vw !important;
  max-width: none !important;
  margin: 0 !important;
  transform: none !important;

  border-radius: 16px 16px 0 0 !important;
  z-index: 2147483647 !important;
}

/* чтобы overlay EditorJS не мешал */
.ej-bottom-sheet .ce-popover__overlay {
  display: none !important;
}

.ej-bottom-sheet .ce-popover__container {
  max-height: 45vh;
  overflow: auto;
  padding-bottom: env(safe-area-inset-bottom);
}
