@import "tailwindcss";

#root{
  width: 100vw;
  height: 100vh;
  background-color: black;
  /* overflow: hidden; */
}


@font-face {
  font-family: 'Salma Pro';
  src: url('../assets/fonts/SalmaPro-MediumN.otf') format('opentype');
}

@font-face {
  font-family: 'Arimo';
  src: url('../assets/fonts/arimo.regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Arimo';
  src: url('../assets/fonts/arimo.bold.ttf') format('truetype');
  font-weight: 700;
}

* {
  font-family: 'Arimo', sans-serif!important;
  letter-spacing: 0.01em;
}

/* .react-resizable-handle{
  z-index: 9999;
  background-color: red;
  border-radius: 10px 0 0 0;
} */